*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.flex{
    display: flex;
    flex-direction: column;
}

.string{
    position: absolute;
    top: 10px;
    left: 50%;
    transform-origin: center;
    display: none;
}

.main{
    margin: 0px auto;
    height: 100vh;
    background-color : purple;
    justify-content: space-evenly;
    align-items: center;
}

.upper, .lower{
    width: 50%;
    background-color: violet;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 5px violet;
}

.upper{
    color: purple;
    font-size: 25px;
    height: 300px;
    justify-content: space-evenly;
}

.lower{
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}

button,.save{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: violet;
    border: 5px solid purple;
    color: purple;
    box-shadow: 5px 5px 5px 0px ;
}


.btn-save:hover, .cart:hover{
    cursor: pointer;
    color: violet;
    background-color: purple;
    border-color: violet;
}

button:active{
    /* background-color: purple;
    color: violet; */
    box-shadow: none;
    transform: translate(2px, 2px);
}

.save{
    position: relative;
    flex-direction: row;
    align-items: center;
}

.btn-save{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid purple;
}

.cart{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown{
    display: none;
    position: absolute;
    width: 100%;
    background-color: red;
    margin-top: 70px;
    border-radius: 10px;
}

li{
    list-style: none;
    margin: 0px;
    border-bottom: 1px solid violet;
}
